www/static
www/uploads
*.tmproj
kcdc3/classes/__init__.pyc

kcdc3/classes/admin.pyc

kcdc3/classes/models.pyc

kcdc3/classes/urls.pyc

kcdc3/classes/views.pyc

kcdc3/kcdc3/__init__.pyc

kcdc3/kcdc3/settings.pyc

kcdc3/kcdc3/urls.pyc

kcdc3/kcdc3/wsgi.pyc
