*.pyc
kcdc3/django.db
kcdc3/settings.py
kcdc3/kcdc3/settings.py
kcdc3/settings/prod.py
# as per dave:
# Matt Lesko wrote:
# 1) Clean up what's kept in git vs. what isn't. Right now I think static
# content /isn't/, but it probably should be.
# My suggestion: put static/ under Git, and media/ not. After the move, I'll fix file locations so that media/ is just user data.
# ergo, track kcdc3/public/static
kcdc3/public/media

*.scssc
.sass-cache/

*.tmproj

kcdc3/tmp/django.db

kcdc3/public/static/fonts/ss-standard/
kcdc3/public/static/fonts/ss-social/


codekit-config.json
