{% extends "pinata/base.html" %}


{% block pre_content %}

	<div id="front_intro">
		<p class="front_intro_text">
			<b>Knowledge Commons DC</b> is a free school for thinkers, doers, and tinkerers &ndash; taught anywhere, by anyone, for everyone.
		</p>
		<p class="front_intro_call"><a href="/teach">teach</a> or <a href="http://c.knowledgecommonsdc.org/classes">take a class</a></p>
	</div>
	
	<div id="slideshow-frame">
		<div id="front_slideshow">
			<div id="flexslider">
				<ul class="slides">
					{% for slide in slides %}
						{% if slide.image %}
						<li><img src="/media/{{ slide.image }}" alt="{{ slide.title }}" /></li>
						{% else %}
						<li>{{ slide.main_text|safe }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

{% endblock %}



{% block content %}
									
	<div id="front_motd">
		{% for notice in notices %}
			{{ notice.main_text|safe }}
		{% endfor %}
	</div>

	<div class="features" id="classes">
		{% for event in events reversed %}
			<div class="event_preview">
				<a href="/classes/{{ event.slug }}">
					<h3>
						<!--<b class="event">Event:</b>-->
						{{ event.title }}
					</h3>
					<p class="meta">
						{{ event.date|date:"j N, P" }}
					</p>

					<p class="meta indicators">
						{% if event.has_passed %}
							<!-- past event -->
						{% elif event.registration_status == "ALLOW" %}	
							{% if event.registration_count >= event.max_students %}
							 	{% if event.waitlist_status %}
									<span class="registration_indicator solid"><i class="ss-icon registration_waitlist">&#xF071;</i> Waitlist</span>
								{% else %}
									<span class="registration_indicator solid"><i class="ss-icon registration_full">&#xF073;</i> Class is full</span>			
								{% endif %}
							{% else %}
								<span class="registration_indicator solid"><i class="ss-icon registration_open">&#xF070;</i> Registration is open</span>
							{% endif %}
						{% elif event.registration_status == 'PREVENT' %}
							<span class="registration_indicator solid"><i class="ss-icon registration_full">&#xF073;</i> Registration is closed</span>			
						{% endif %}
					
					</p>
				</a>
			</div>
		{% endfor %}
		<p class="front_more_link"><a href="/classes">more classes</a></p>
	</div>


	<div class="features" id="posts">

		<h3><a href="/blog">Blog</a></h3>

		{% for post in posts reversed %}
			<p>
			<a href="/blog/{{ post.slug }}">
				{% if post.department_label %}<i class="department_label">{{ post.department_label }}: </i>{% endif %}
				<strong>{{ post.title }}</strong>
				{{ post.date|date:"j N" }}
				{% if post.author|length > 0 %}
					<i class="byline">
					By 
					{% for bio in post.author.all %}							
						{% if forloop.last %}{% if forloop.counter > 1 %} and {% endif %}{% endif %}
						{{ bio.name }}{% if not forloop.last %}{% if post.author.all|length > 2 %}, {% endif %}{% endif %}
					{% endfor %}
					</i>
				{% endif %}
			</a>
			</p>
	{% endfor %}
	</div>

	
{% endblock %}




{% block local_scripts %}

	<!-- Hook up front page FlexSlider -->
	<script type="text/javascript">
		$(window).load(function() {
			$('#flexslider').flexslider({
				controlNav: false,
				directionNav: false,
				slideshowSpeed: 9000,         
				animationSpeed: 100, // doesn't work; set this in the script file         
				randomize: true,              
				keyboard: true,              
				touch: true,              
				pauseOnAction: true,              
				pauseOnHover: true,              
			});                               
		});
	</script>

{% endblock %}



