{% extends "pinata/base.html" %}



{% block title %}
 / {{ short_title }}
{% endblock %}




{% block content_shell %}

	<div id="content" class="content_wide">

		{% block local_nav_wide %}
			<div class="local_nav_wide">
				<ul>
					{% for page in siblings %}
						<li><a href="{{ page.path }}" class="{% if page.id == id %}active{% endif %}">{{ page.short_title }}</a></li>
					{% endfor %}
					{% for page in children %}
						<li><a href="{{ page.path }}">{{ page.short_title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endblock %}

		{% block content %}

			<div class="hed_wide">
				<h1>{{ title }}</h1>
			</div>

			<div class="main_wide">
				{{ main_text|safe }}
			</div>
		
		{% endblock %}
		{% block sidebar %}{% endblock %}

	</div>
	
{% endblock %}



{% block sidebar_content %}
	{{ sidebar_text|safe }}
{% endblock %}



{% block sidebar_nav %}

	<div class="local_nav">
		<ul>
			{% for page in siblings %}
				<li><a href="{{ page.path }}" class="{% if page.id == id %}active{% endif %}"><i class="ss-icon icon_decorative">&#x25BB;</i>{{ page.short_title }}</a></li>
			{% endfor %}
			{% for page in children %}
				<li><a href="{{ page.path }}"><i class="ss-icon icon_decorative">&#x25BB;</i>{{ page.short_title }}</a></li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
