{% extends "pinata/page.html" %}




{% block content %}

	<div id="hed">
		<h1>{{ short_title }}</h1>
	</div>
	
	<div id="main">
				
		<div id="press_clippings">
			
			{% for pressclipping in pressclippings reversed %}

				<div>	

						<a href="{{ pressclipping.destination_url }}">
					
						{% if pressclipping.image %}
						<img src="/media/press/{{ pressclipping.image }}" alt="{{ pressclipping.publication }}" />
						{% else %}
						<h3>{{ pressclipping.publication }}</h3>
						{% endif %}

						<p>
						{% if pressclipping.title %}{{ pressclipping.title }}, {% endif %}
						{{ pressclipping.date|date:"j F Y" }} 
						</p>
					
						{% if pressclipping.excerpt %}
						<p>&ldquo;{{ pressclipping.excerpt }}&rdquo;</p>
						{% endif %}
					
						</a>
					
				</div>


			{% endfor %}

		</div>			

	</div>	
	
{% endblock %}

