{% extends "pinata/page.html" %}




{% block content %}

	<div id="hed">
		<h1>{{ short_title }}</h1>
	</div>
	
	<div id="main">
		
		<dl class="calendar blog_calendar">
			
		{% for press_clipping in press_clippings reversed %}

			{% ifchanged %}
				<dt>
					{{ press_clipping.date|date:"j" }} {{ press_clipping.date|date:"F" }}
					{% if forloop.first %}
						{{ press_clipping.date|date:"Y" }}
					{% endif %}
				</dt>
			{% endifchanged %}

			<dd>
					
					{% if press_clipping.destination_url %}
						<h3><a href="{{ press_clipping.destination_url }}">{{ press_clipping.title }} <i class="ss-icon">link</i></a></h3>
					{% else %}
						<h3>
						{{ press_clipping.title }}
						</h3>
					{% endif %}
					
					<p>
					{{ press_clipping.publication }} 
					</p>
					
					{{ press_clipping.main_text|safe }}
					
					{% if press_clipping.excerpt %}
						<blockquote>
						{{ press_clipping.excerpt|safe }}
						</blockquote>
					{% endif %}

			</dd>


		{% endfor %}


			
		</dl>

	</div>	
	
{% endblock %}

