{% extends "pinata/page_wide.html" %}

{% block body_class %}s_contribute p_contribute{% endblock %}



{% block content %}

	<div id="hed_wide">
		<h1>{{ title }}</h1>
	</div>
	
	<div id="main_wide">
				
		{{ main_text|safe }}
		
		<div class="topic_block">
			<div class="image_container"><img src="/static/images/contribute_materials.gif" alt="illustration" style="margin-top: 50px;" /></div>
			<h3 class="alt">Offer space or materials</h3>
			<p>We teach in borrowed spaces around the city. If you might have a space that we can use, we&rsquo;d love to work with you.
			We&rsquo;ve taught in:</p>
			<ul>
				<li>parks and open spaces</li>
				<li>galleries, studios, and workshops</li>
				<li>private homes</li>
				<li>restaurants and stores</li>
				<li>offices</li>
			</ul>
			<p><a href="#form" class="button_link">Get in touch</a></p>
		</div>
		
		<div class="topic_block">
			<div class="image_container"><img src="/static/images/contribute_time.gif" alt="illustration" style="margin-top: 40px;" /></div>
			<h3 class="alt">Volunteer</h3>
			<p>KCDC needs your talents and time. There&rsquo;s a place for everyone.</p>
			<ul>
				<li>Facilitate and document classes</li>
				<li>Write grants</li>
				<li>Join our web team <a href="/blog/help-grow-kcdc-website/">(designers, Django- and front end devs needed)</a></li>
				<li>Work with the organizing committee</li>
				<li>Help at events</li>
				<li><a href="/teach/">Teach</a>, of course</li>
			</ul>
			<p><a href="#form" class="button_link">Help out</a></p>
		</div>
		
		<div class="topic_block">

			<div class="image_container"><img src="/static/images/contribute_space.gif" alt="illustration" /></div>
			<h3>Donate funds</h3>
			<p>We&rsquo;ll use your donation to cover services like website hosting and mailing lists. We&rsquo;ll process your credit card donation through PayPal.</p>

			<!-- PayPal donation button -->
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="H9ENKNZVLPU4W">
			<button type="submit" class="button_link alt">Donate now</button>
			</form>

		</div>

		<a name="form"></a>
		<div id="wufoo-q7x2x3" style="padding-top: 3em;" class="form_contribution">
		Fill out our <a href="http://knowledgecommonsdc.wufoo.com/forms/q7x2x3">contribution form</a>.
		</div>
		<script type="text/javascript">var q7x2x3;(function(d, t) {
		var s = d.createElement(t), options = {
		'userName':'knowledgecommonsdc', 
		'formHash':'q7x2x3', 
		'autoResize':true,
		'height':'692',
		'async':true,
		'header':'show'};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { q7x2x3 = new WufooForm();q7x2x3.initialize(options);q7x2x3.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');</script>


	</div>
	
{% endblock %}


