{% extends "base.html" %}

{% block content %}

	<img src="/static/images/bees-balloon.png" alt="bees" />

	<p>Sorry &ndash; something went wrong when we tried to show the next page. We're still making final adjustments to the new site.</p>

	<p>If you're trying to sign up, we've probably recorded your information correctly. You should receive a confirmation message. Reload the course page to check on your status.</p>
	
	<p>
		Questions? <a href="mailto:contact@knowledgecommonsdc.org">contact@knowledgecommonsdc.org</a>.</p>
	
{% endblock %}

