{% extends "base.html" %}
{% load pinata_filters %}


{% block title %}
 / {{ event.title }}
{% endblock %}

{% block content %}

	<div id="hed">
		{% if event.type == "EXTERNAL" %}<p class="department_label">Partner Event</p>{% endif %}
		<h1>{{ event.title | smartlines }}</h1>
	</div>
	
	<div id="main">
	
		<p class="meta">
			
			{% if event.type == "EVENT" %}
				<b class="event_type_indicator"><i class="ss-icon">&#x266B;</i> KCDC Event</b>
			{% endif %}
			
			<i class="ss-icon">date</i> 
			{{ event.date|date:"l, j F Y" }}

			<i class="ss-icon icon_push_right">time</i> 
			{{ event.date|date:"P" }}
			{% if event.end_time %} to {{ event.end_time|date:"P" }}{% endif %}
		</p>

		<p class="meta">

			<i class="ss-icon">&#x1F464;</i> {% for bio in event.teacher_bios.all %}{% if not forloop.first %}, {% endif %}{{ bio.name }}{% endfor %}
			{% if event.teacher_text %}{{ event.teacher_text|safe }}{% endif %}

			{% if event.location %}
			<i class="ss-icon icon_push_right">&#x1F3E2;</i> 
			{{ event.location }}
			{% endif %}

		</p>	

		<p class="meta indicators">
			
			{% if event.has_passed %}
				<span class="registration_indicator"><i class="ss-icon registration_full">&#xF073;</i> Past</span>			
			{% elif event.registration_status == "HIDE" %}
				<!-- hide registration info -->
			{% else %}
				{% if event.registration_status == "AUTO" and not event.is_registration_open %}	
					<!-- registration opens later -->
				{% elif event.registration_status == "PREVENT" %}	
					<span class="registration_indicator"><i class="ss-icon registration_full">&#xF073;</i> Registration is closed</span>			
				{% elif event.registration_count >=  event.max_students %}
					{% if event.waitlist_status %}
						<span class="registration_indicator"><i class="ss-icon registration_waitlist">&#xF071;</i> Waitlist</span>
					{% else %}
						<span class="registration_indicator"><i class="ss-icon registration_full">&#xF073;</i> Class is full</span>			
					{% endif %}
				{% else%}
					<span class="registration_indicator"><i class="ss-icon registration_open">&#xF070;</i> Registration is open</span>
				{% endif %}
			{% endif %}							
			
		</p>
		
		{% if event.main_image %}<p><img src="/media/{{ event.main_image }}" alt="event preview image" /></p>{% endif %}
		{% if event.caption %}<div class="caption">{{ event.caption | smartlines | safe }}</div>{% endif %}
	
		{{ event.description | smartlines | safe }}

		{% if event.type == "EXTERNAL" %}
			<p class="partner_event_note">
				<strong>This is not a KCDC event.</strong> It is produced by another organization.
				We include it because we think that it will be of interest to our students.
			</p>
		{% endif %}

		{% if event.documentation %} 
			<h3>Documentation</h3>
			{{ event.documentation | smartlines | safe }}
		{% endif %}

		{% if event.additional_dates_text %}
			<h3>Additional meetings</h3>
			{{ event.additional_dates_text | smartquotes | safe }}
		{% endif %}

		{% if event.partner %}
		<div class="event_partner">
			<div class="event_partner_logo"><a href="{{ event.partner.website }}" class="noborder"><img src="/media/{{ event.partner.image }}" alt="partner logo" class="event_partner_image" /></a></div>
			{{ event.partner.description | smartquotes | safe }}
		</div>
		{% endif %}

		<h3>Location</h3>
 		{% if event.location_text %}<p>{{ event.location_text|safe }}</p>{% endif %}
		<p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
			{% ifnotequal event.location.name event.location.address1 %}{{ event.location.name }}<br />{% endifnotequal %}
			{% if event.location.address1 and event.location.show_exact %}
				<span itemprop="street-address">
				{{ event.location.address1 }}
				{% if event.location.address2 %}<br />{{ event.location.address2 }}{% endif %}
				</span>
				<br />
			{% endif %}
			{% if event.location.city %}<span itemprop="locality">{{ event.location.city }}</span>, {% endif %}
			{% if event.location.state %}<span itemprop="region">{{ event.location.state }}</span>{% endif %}
			{% if event.location.zip %}<span itemprop="postal-code">{{ event.location.zip }}</span>{% endif %}
			{% if event.location.neighborhood %}<br />Neighborhood: {{ event.location.neighborhood }} {% endif %}
			{% if event.location.hint %}<br /><em>{{ event.location.hint }}</em>{% endif %}
		</p>
	
		{% if event.details %}
			<h3>Details</h3>
			{{ event.details | smartlines | safe }}
		{% endif %}
			
		{% if event.has_passed %}
			<h3>Past event</h3>
		{% elif event.registration_status == "HIDE" %}
			<!-- hide registration info -->
		{% else %}
			{% if event.registration_status == "AUTO" and not event.is_registration_open %}	
				<h3>Registration for this class opens {{ event.registration_opens|date:"l, j F, P" }}</h3>
			{% elif event.registration_status == "PREVENT" %}	
				<h3>Registration is closed.</h3>
			{% elif registration_count >=  event.max_students %}
				{% if event.waitlist_status %}
					<h3>This class is full, but there is a waitlist available.</h3>
				{% else %}
					<h3>This class is full.</h3>
				{% endif %}
			{% else%}
					<h3>Register</h3>
			{% endif %}
		{% endif %}
			
		{% if user_is_authenticated %}
			{% if user_is_registered %}
				<p><i class="ss-icon registration_open">&#x2713;</i> <em>You are registered.</em></p>
				{% if not event.has_passed %}
					<form action="/classes/{{ event.slug }}/cancel" method="post">
						{% csrf_token %}
						<input type="submit" value="I've changed my mind. Unregister me." id="submit_button" />
					</form>
				{% endif %}
			{% elif user_is_waitlisted %}
				<p><i class="ss-icon registration_waitlist">&#x22C6;</i> <em>You are on the waitlist.</em></p>
				{% if not event.has_passed %}
					<form action="/classes/{{ event.slug }}/cancel" method="post">
						{% csrf_token %}
						<input type="submit" value="I've changed my mind. Remove me from the list." id="submit_button" />
					</form>
				{% endif %}
			{% elif is_registration_open %}
				<form action="/classes/{{ event.slug }}/register" method="post">
					<label for="needs">Let us know if you require any disability accommodations:</label>
					<input type="text" name="student_needs" id="needs" placeholder="None needed" />
					{% csrf_token %}
					{% if add_to_waitlist %}
						<div><input type="submit" value="Join the waitlist" id="submit_button" /></div>
					{% else %}
						<div><input type="submit" value="Register for this class" id="submit_button" /></div>
					{% endif %}
				</form>
			{% endif %}
		{% else %}
			<p>
				To sign up for classes, please 
				<a href="/accounts/signin">log in</a> or 
				<a href="/accounts/signup">create a new account</a>.
			</p>
		{% endif %}
			
			
			
					
			
		




		{% if show_facilitator %}
			<hr />
			<p><a href="/classes/{{ event.slug }}/facilitator">view registrations</a></p>
		{% endif %}
	
	</div>

	<div id="sidebar" class="sidebar_inside">

		<div class="sidebar_text bio">
			{% if event.bio_text %}
				{{ event.bio_text|safe }}
			{% else %}
				{% for bio in event.teacher_bios.all %}
					{% if forloop.first %}<h3>Instructor{{ event.num_teachers|pluralize }}</h3>{% endif %}

					{% if bio.image %}
						<div class="bio_photo"><img src="/media/{{ bio.image }}" alt="" /></div>
					{% endif %}

					{{ bio.description | smartlines | safe }}

					<div class="bio_detail">
						{% if bio.show_email %}
							<p class="bio_email"><a href="mailto:{{ bio.get_email }}"><i class="ss-icon ss-social">email</i> {{ bio.get_email }}</a></p>
						{% endif %}
						{% if bio.web %}
							<p class="bio_website"><a href="{{ bio.get_web }}"><i class="ss-icon">&#x1F30E;</i> {{ bio.get_plain_web }}</a></p>
						{% endif %}
						{% if bio.twitter %}
							<p class="bio_twitter"><a href="http://twitter.com/{{ bio.get_twitter }}"><i class="ss-icon ss-social">twitter</i> @{{ bio.get_twitter }}</a></p>
						{% endif %}
					</div>
					
				{% endfor %}
			{% endif %}
		</div>

	</div>

{% endblock %}

