{% extends "base.html" %}
{% load pinata_filters %}

{% block content %}

	<h1>{{ title }}</h1>

	<p style="max-width: 45em;">
		<strong>This is confidential information.</strong>
		Do not share student contact data with teachers or other students.<br />
		If a teacher wants to keep in touch with students, you should send out the teacher's email address.
	</p>

	<p style="max-width: 45em;">
		<strong>We need student usernames.</strong> When you send back this attendance sheet, <br />
		include usernames, not just names and emails.
	</p>
	<p>
		<a href="javascript:window.print()" style="border: none;"><span class="ss-icon">&#x1F4E0;</span> Print this page</a>
	</p>
	<p>
		Facilitator:
		{% for facilitator in facilitators %}
			{% if not forloop.first %}, {% endif %}
			<i>{{ facilitator.first_name }}</i> {{ facilitator.last_name }}
			<a href="mailto:{{ facilitator.email }}">{{ facilitator.email }}</a>
			{% if facilitator.extendedprofile.phone_number %}
				{{ facilitator.extendedprofile.phone_number }}
			{% endif %}
		{% endfor %}
	</p>

	<h2>Registered students ({{ registration_count }})</h2>
	<table class="basic_table facilitator_student_list">
		<thead>
		<tr>
			<td>
				name
			</td>
			<td>

			</td>
			<td>
				username
			</td>
			<td>
				email
			</td>
			<td>
				phone
			</td>
			<td class="noprint">
				date registered
			</td>
			<td class="noprint">
				attendance
			</td>
		</tr>
		</thead>
		<tbody>
	{% for registration in registered_students %}
		<tr>
			<td>
				{{ registration.student.first_name }}
			</td>
			<td>
				{{ registration.student.last_name }}
			</td>
			<td>
				{{ registration.student.username }}
			</td>
			<td>
				<a href="mailto:{{ registration.student.email }}">{{ registration.student.email }}</a>
			</td>
			<td>
				{{ registration.student.extendedprofile.phone_number }}
			</td>
			<td class="noprint">
				{{ registration.date_registered }}
			</td>
			<td class="noprint">
				{{ registration.attended }}
			</td>
		</tr>
	{% endfor %}
		</tbody>
	</table>


	<section class="noprint">

	<h4>Registered student emails:</h4>

	<p>
	{% for registration in registered_students %}
		{{ registration.student.email }},
	{% endfor %}
	{% for bio in teacher_bios.all %}
		{{ bio.get_email }},
	{% endfor %}
	{% for facilitator in facilitators.all %}
		{{ facilitator.email }},
	{% endfor %}
	{% boilerplate 'project_email' %}
	</p>

	</section>


	<h2>Waitlisted students ({{ waitlist_count }})</h2>
	<table class="basic_table facilitator_student_list">
		<thead>
		<tr>
			<td>
				name
			</td>
			<td>
				username
			</td>
			<td>
				email
			</td>
			<td>
				phone
			</td>
			<td class="noprint">
				date registered
			</td>
		</tr>
		</thead>
		<tbody>
	{% for registration in waitlisted_students %}
		<tr>
			<td>
				{{ registration.student.first_name }} {{ registration.student.last_name }}
			</td>
			<td>
				{{ registration.student.username }}
			</td>
			<td>
				<a href="mailto:{{ registration.student.email }}">{{ registration.student.email }}</a>
			</td>
			<td>
				{{ registration.student.extendedprofile.phone_number }}
			</td>
			<td class="noprint">
				{{ registration.date_registered }}
			</td>
			<td class="noprint">
				{{ registration.attended }}
			</td>
		</tr>
	{% endfor %}
		</tbody>
	</table>


	<section class="noprint">

	<h4>Waitlisted student emails:</h4>

	<p>
	{% for registration in waitlisted_students %}
		{{ registration.student.email }},
	{% endfor %}
	{% for bio in teacher_bios.all %}
		{{ bio.get_email }},
	{% endfor %}
	{% for facilitator in facilitators.all %}
		{{ facilitator.email }},
	{% endfor %}
	{% boilerplate 'project_email' %}
	</p>

	</section>


	<hr />

	<p class="noprint"><a href="/classes/{{ slug }}">main class page</a></p>

{% endblock %}
