{% extends "classes/staff.html" %}


{% block content %}
		
	<hr />

	<h2>Sessions</h2>	
	<table>
		<tr>
			<td>
			</td>
			<td>
				Session
			</td>
			<td>
				Status
			</td>
			<td>
				Regular classes
			</td>
			<td>
				Registrations
			</td>
			<td>
				Attended
			</td>
			<td colspan="2">
				Reports
			</td>
			<td>
				Preformatted
			</td>
		</tr>
	{% for session in session_list %}
		<tr>
			<td>
				<a href="/admin/classes/session/{{ session.id }}">Edit</a>
			</td>
			<td>
				<a href="/classes/{{ session.slug }}">{{ session.long_title }}</a>
			</td>
			<td>
				{{ session.status }} 
			</td>
			<td>
				{{ session.get_live_classes.count }}
			</td>
			<td>
				{{ session.get_registrations.count }}
			</td>
			<td>
				{{ session.get_attended_registrations.count }}
			</td>
			<td>
				<a href="/classes/staff/teachers/session/{{ session.slug }}">Teachers</a>
			</td>
			<td>
				<a href="/classes/data/registration/session/{{ session.slug }}/csv/">Registrations (CSV)</a>
			</td>
			<td>
				<a href="/classes/staff/social/session/{{ session.slug }}">Social</a>
			</td>
		</tr>
	{% endfor %}
	</table>

	<hr />
	
	<p><a href="/classes/staff/teachers">All Teachers</a></p>

	
{% endblock %}

