{% extends "pigeon/base.html" %}
{% load pinata_filters %}



{% block title %}
 / {{ post.title }}
{% endblock %}



{% block content %}

	<div id="hed" class="blog_hed">
		{% if post.department_label %}<p class="department_label">{{ post.department_label }}</p>{% endif %}
		<h1>{{ post.title | smartlines }}</h1>
		<p class="byline">
			{% if post.author.count > 0 %}
				By 
				{% for bio in post.author.all %}							
					{% if forloop.last %}{% if forloop.counter > 1 %} and {% endif %}{% endif %}
					{{ bio.name }}{% if not forloop.last %}{% if post.author.all|length > 2 %}, {% endif %}{% endif %}
				{% endfor %}
			{% elif post.author.count = 0 and post.special_author %}
				By
				{{ post.special_author | smartdown }}
			{% endif %}
			
			({{ post.date|date:"j F Y" }})
		</p>
	</div>
	
	<div id="main">
		
		{{ post.main_text | smartdown | safe }}

		{% if post.author.count > 0 %}
			<hr />
			{% for bio in post.author.all %}
				{{ bio.get_staff_description | smartdown | safe }}
				<div class="bio_detail">
				{% if bio.show_email %}
						<p class="bio_email"><a href="mailto:{{ bio.get_email }}"><i class="ss-icon ss-social">email</i> {{ bio.get_email }}</a></p>
				{% endif %}
				{% if bio.web %}
					<p class="bio_website"><a href="{{ bio.get_web }}"><i class="ss-icon">&#x1F30E;</i> {{ bio.get_plain_web }}</a></p>
				{% endif %}
				{% if bio.twitter %}
					<p class="bio_twitter"><a href="http://twitter.com/{{ bio.get_twitter }}"><i class="ss-icon ss-social">twitter</i> @{{ bio.get_twitter }}</a></p>
				{% endif %}
				</div>
			{% endfor %}
		{% endif %}

	</div>	
	
{% endblock %}


