
// front page




// specific blocks -----------------------------------------

#lede-narrow
	+span-columns(8)

#most-read
	+span-columns(6)
	+respond-to($mid-screen)
		+span-columns(12)

#subscribe
	+span-columns(6)
	+respond-to($mid-screen)
		+span-columns(12)
	margin-top: 0.25em
	padding: 0.5em
	height: 17em
	background-color: $cB-light
	h3
		margin-top: 0
		text-align: left
		color: $cB

#subscribe-right
	margin-top: 0.25em
	padding: 0.5em
	height: 17em
	background-color: $cB-light
	clear: both
	h3
		margin-top: 0
		text-align: left
		color: $cB

// left part of three-column wide alternative stories layout
#stories-left
	+span-columns(9)
	+respond-to($mid-screen)
		+span-columns(12)

// right part of three-column wide alternative stories layout
#stories-right
	+span-columns(3)
	margin-right: 0
	padding-top: 0em
	+respond-to($mid-screen)
		+span-columns(12)
