{% extends "base.html" %}

{% block local %}
	<ul>
		<li><a href="/classes/#upcoming">Upcoming classes</a></li>
		<li><a href="/classes/#past">Recent classes</a></li>
		{% for session in sessions reversed %}
			<li><a href="/classes/{{ session.slug }}">{{ session.title }}</a></li>
		{% endfor %}
		<li><a href="http://knowledgecommonsdc.org/classes/2012-06" >June 2012</a></li>
		<li><a href="http://knowledgecommonsdc.org/classes/2012-03" >March 2012</a></li>
		<li><a href="http://knowledgecommonsdc.org/classes/2011-10" >October 2011</a></li>
		<li><a href="http://knowledgecommonsdc.org/classes/2011-06" >June 2011</a></li>
	</ul>

{% endblock %}