{% extends "classes/event_base.html" %}

{% block title %} / Classes and Events{% endblock %}

{% block content %}

	<div id="hed">
		<h1 class="section_hed">Classes + Events</h1>
		<p>As always, KCDC classes are free – and they fill up fast!</p>
	</div>

	<div id="main">
	
		<h2 id="upcoming">Upcoming classes</h2>

		<dl class="calendar">

			{% for event in events reversed %}

				{% if not event.has_passed and event.status == "PUBLISHED" %}

					{% ifchanged %}
						<dt>
							{{ event.date|date:"l" }}<br />
							<strong>{{ event.date|date:"j" }}</strong> {{ event.date|date:"F" }}
							{% if forloop.first %}
								{{ event.date|date:"Y" }}
							{% endif %}
						</dt>
					{% endifchanged %}

					<dd>
						<a href="/classes/{{ event.slug }}">
							<h3>
								<!--<b class="event">Event:</b>-->
								{{ event.title }}
							</h3>
							<p class="meta">
								<i class="ss-icon">time</i> {{ event.date|date:"P" }}
							
								{% if not event.has_passed and event.registration_status == "ALLOW" %}	
									{% if event.registration_count >= event.max_students %}
									 	{% if event.waitlist_status %}
											<span class="registration_indicator"><i class="ss-icon registration_waitlist">&#xF071;</i> Waitlist</span>
										{% else %}
											<span class="registration_indicator"><i class="ss-icon registration_full">&#xF073;</i> Class is full</span>			
										{% endif %}
									{% else %}
										<span class="registration_indicator"><i class="ss-icon registration_open">&#xF070;</i> Registration is open</span>
									{% endif %}
								{% endif %}
							
							</p>
							{{ event.summary|safe }}
							<p>
								<i class="ss-icon">user</i> Instructor{{ event.num_teachers|pluralize }}: {% for bio in event.teacher_bios.all %}{% if not forloop.first %}, {% endif %}{{ bio.name }}{% endfor %}
							</p>
						</a>
					</dd>




				{% endif %}

			{% endfor %}

		</dl>

		<h2 id="past">Recent classes</h2>

		<dl class="calendar">

			{% for event in events %}

				{% if event.has_passed and event.status == "PUBLISHED" %}

					{% ifchanged %}
						<dt>
							{{ event.date|date:"l" }}<br />
							<strong>{{ event.date|date:"j" }}</strong> {{ event.date|date:"F" }}
							{% if forloop.first %}
								{{ event.date|date:"Y" }}
							{% endif %}
						</dt>
					{% endifchanged %}
					<dd>
						<a href="/classes/{{ event.slug }}">
							<h3>
								<!--<b class="event">Event:</b>-->
								{{ event.title }}
							</h3>
							<p class="meta">
								<i class="ss-icon">time</i> {{ event.date|date:"P" }}
							</p>
							{{ event.summary|safe }}
							<p>
								<i class="ss-icon">user</i> Instructor{{ event.num_teachers|pluralize }}: {% for bio in event.teacher_bios.all %}{% if not forloop.first %}, {% endif %}{{ bio.name }}{% endfor %}
							</p>
						</a>
					</dd>

				{% endif %}

			{% endfor %}

		</dl>

	</div>

{% endblock %}




{% block sidebar_content %}

		<div class="sidebar_text sidebar_contrast">

			{% for session in selected_session %}
				{{ session.description|safe }}
			{% endfor %}

		</div>

{% endblock %}