{% extends "base.html" %}

{% block content %}

	<h1>{{ event.title }}</h1>
	<p>Cap: {{ event.max_students }}</p>
	<p>Students registered: {{ registration_count }}</p>
	<p>Students on waitlist: {{ waitlist_count }}</p>
	<p>Is user registered: {{ user_is_registered }}</p>
	<p>Is user waitlisted: {{ user_is_waitlisted }}</p>
	<p>Message: {{ message }}</p>
	
	{% if not user_is_registered and not user_is_waitlisted %}
		<form action="/classes/{{ event.slug }}/register" method="post">
			{% csrf_token %}
			<input type="submit" value="Register" />
		</form>
	{% else %}
		<form action="/classes/{{ event.slug }}/cancel" method="post">
			{% csrf_token %}
			<input type="submit" value="Cancel" />
		</form>
	{% endif %}

	<p><a href="/classes">classes</a></p>
	
{% endblock %}

