{% extends "base.html" %}

{% block content %}

	<p><a href="/classes">classes</a></p>

	<hr />

	<h1>{{ event.title }}</h1>
		
	{% if registration_count >=  event.max_students %}
		{% if event.waitlist_status %}
			<p>This class is full, but there is a waitist available.</p>
		{% else %}
			<p>This class is full.</p>
		{% endif %}
	{% endif %}
		
	{% if user_is_authenticated %}
		{% if user_is_registered %}
			<p>Registered</p>
			<form action="/classes/{{ event.slug }}/cancel" method="post">
				{% csrf_token %}
				<input type="submit" value="Cancel" />
			</form>
		{% elif user_is_waitlisted %}
			<p>Waitlisted</p>
			<form action="/classes/{{ event.slug }}/cancel" method="post">
				{% csrf_token %}
				<input type="submit" value="Cancel" />
			</form>
		{% elif is_registration_open %}
			<form action="/classes/{{ event.slug }}/register" method="post">
				{% csrf_token %}
				{% if add_to_waitlist %}
					<input type="submit" value="Join waitlist" />
				{% else %}
					<input type="submit" value="Register" />
				{% endif %}
			</form>
		{% endif %}
	{% else %}
		<p>To sign up for classes, please log in or create a new account.<p>
	{% endif %}
		

	{% if show_facilitator %}
		<hr />
		<p><a href="/classes/{{ event.slug }}/facilitator">view registrations</a></p>
	{% endif %}
	
{% endblock %}

