{% extends "classes/event_base.html" %}

{% block title %}
 / {% for session in selected_session %}{{ session.long_title }}{% endfor %}
{% endblock %}

{% block content %}

	<div id="hed">
		<h1>
			{% for session in selected_session %}
			{{ session.long_title }}
			{% endfor %}
		</h1>
	</div>

	<div id="main">
	
		{% for session in selected_session %}

			{{ session.documentation|safe }}

			<p class="more_link"><a href="/classes/{{ session.slug }}">Class listings for this session</a></p>

		{% endfor %}

	</div>

{% endblock %}



{% block sidebar_content %}

		<div class="sidebar_text sidebar_contrast">

			{% for session in selected_session %}
				{{ session.sidebar_text|safe }}
			{% endfor %}

		</div>

{% endblock %}