{% extends "base.html" %}


{% block content %}

	<h1>Classes and Events</h1>

	<section>

		<p class="intro">Classes at KCDC are taught by volunteer teachers and all students are invited to attend for free. Locations vary to fit the subject matter of the class.</p>

		<p class="intro2">When you find a class that piques your interest, click on the title and register for the class. If you don&#8217;t think you&#8217;ll make it to a class, kindly un-register so someone on the waitlist can take your spot. Our class liaison will update students with information about the class as the date grows near.</p>

		<p class="intro2">September session registration will open at the end of August.</p>

		<p class="intro2">Course evaluations help us improve KCDC. Please <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEdzZ3pJT1FLd0MtSWlTcmRTRkphUlE6MQ">fill out a course evaluation</a> once you&#8217;ve taken the class.</p>

	</section>

	<!-- <h2 id="upcoming">Upcoming classes</h2> -->

	<dl class="date-listing">

		{% for event in event_list %}

		{% ifchanged %}
			<dt>
				{{ event.date|date:"l" }}<br />
				<strong>{{ event.date|date:"j" }}</strong> {{ event.date|date:"F" }}
				{% if forloop.first %}
					{{ event.date|date:"Y" }}
				{% endif %}
			</dt>
		{% endifchanged %}
		<dd>
		<h3>
			<!--<b class="event">Event:</b>-->
			<a href="/classes/{{ event.slug }}">{{ event.title }} <span class="meta">({{ event.date|date:"P" }})</span></a>
		</h3>

		{{ event.summary|safe }}

		<p>Instructor: {% for bio in event.teacher_bios.all %}{% if not forloop.first %}, {% endif %}{{ bio.name }}{% endfor %}</p>

		</dd>
		{% endfor %}

	</dl>

	
{% endblock %}