{% extends "base.html" %}

{% block title %}Classes and Events{% endblock %}

{% block content %}

<div id="hed">
	<h1 class="section_hed">Classes + Events</h1>
	<p>As always, KCDC classes are free – and they fill up fast!</p>
</div>

<div id="main">
	
	<h2 id="upcoming">Upcoming classes</h2>

	<dl class="calendar">

		{% for event in event_list reversed %}

			{% if not event.has_passed and event.status == "PUBLISHED" %}

				{% ifchanged %}
					<dt>
						{{ event.date|date:"l" }}<br />
						<strong>{{ event.date|date:"j" }}</strong> {{ event.date|date:"F" }}
						{% if forloop.first %}
							{{ event.date|date:"Y" }}
						{% endif %}
					</dt>
				{% endifchanged %}

				<dd>
					<a href="/classes/{{ event.slug }}">
						<h3>
							<!--<b class="event">Event:</b>-->
							{{ event.title }}
						</h3>
						<p class="meta">
							<i class="ss-icon">time</i> {{ event.date|date:"P" }}
							
							{% if not event.has_passed and event.registration_status == "ALLOW" %}	
								{% if event.registration_count >= event.max_students %}
								 	{% if event.waitlist_status %}
										<span class="registration_indicator"><i class="ss-icon registration_waitlist">&#xF071;</i> Waitlist</span>
									{% else %}
										<span class="registration_indicator"><i class="ss-icon registration_full">&#xF073;</i> Class is full</span>			
									{% endif %}
								{% else %}
									<span class="registration_indicator"><i class="ss-icon registration_open">&#xF070;</i> Registration is open</span>
								{% endif %}
							{% endif %}
							
						</p>
						{{ event.summary|safe }}
						<p>
							<i class="ss-icon">user</i> Instructor{{ event.num_teachers|pluralize }}: {% for bio in event.teacher_bios.all %}{% if not forloop.first %}, {% endif %}{{ bio.name }}{% endfor %}
						</p>
					</a>
				</dd>




			{% endif %}

		{% endfor %}

	</dl>

	<h2 id="past">Recent classes</h2>

	<dl class="calendar">

		{% for event in event_list %}

			{% if event.has_passed and event.status == "PUBLISHED" %}

				{% ifchanged %}
					<dt>
						{{ event.date|date:"l" }}<br />
						<strong>{{ event.date|date:"j" }}</strong> {{ event.date|date:"F" }}
						{% if forloop.first %}
							{{ event.date|date:"Y" }}
						{% endif %}
					</dt>
				{% endifchanged %}
				<dd>
					<a href="/classes/{{ event.slug }}">
						<h3>
							<!--<b class="event">Event:</b>-->
							{{ event.title }}
						</h3>
						<p class="meta">
							<i class="ss-icon">time</i> {{ event.date|date:"P" }}
						</p>
						{{ event.summary|safe }}
						<p>
							<i class="ss-icon">user</i> Instructor{{ event.num_teachers|pluralize }}: {% for bio in event.teacher_bios.all %}{% if not forloop.first %}, {% endif %}{{ bio.name }}{% endfor %}
						</p>
					</a>
				</dd>

			{% endif %}

		{% endfor %}

	</dl>

</div>



<div id="sidebar" class="sidebar_section">

	<div class="local_nav">
		<ul>
			<li><a href=""><i class="ss-icon icon_decorative">&#x25B9;</i>Upcoming classes</a></li>
			<li><a href=""><i class="ss-icon icon_decorative">&#x25B9;</i>Past classes</a></li>
			<li><a href=""><i class="ss-icon icon_decorative">&#x25BB;</i>January 2013</a></li>
			<li><a href=""><i class="ss-icon icon_decorative">&#x25BB;</i>Fall 2012 Intersession</a></li>
			<li><a href=""><i class="ss-icon icon_decorative">&#x25BB;</i>September 2012</a></li>
			<li><a href=""><i class="ss-icon icon_decorative">&#x25BB;</i>More sessions&hellip;</a></li>
		</ul>
	</div>
	
	<div class="sidebar_text sidebar_contrast">

		<h2>Registration dates</h2>

		<p>
			Classes Jan. 1&ndash;6 will open for registration on Dec. 20 at noon.
		</p>

		<p>
			Registration for the remaining weeks begins on Fridays at noon:<br />
			Classes Jan. 7&ndash;13 open Dec 31<br />			
			Classes Jan. 14&ndash;20 open Jan. 7<br />			
			Classes Jan. 21&ndash;27 open Jan. 14<br />			
			Classes Jan. 28&ndash;31 open Jan. 21
		</p>

	</div>

</div>
			


	
{% endblock %}