{% extends "base.html" %}

{% block content %}

	<h1>{{ event.title }}</h1>

	<p class="date">
		<b>Date:</b> 
		{{ event.date|date:"D, N j, f a" }}
	</p>

	<p class="byline">
		<b>Instructor:</b>
		{{ event.teacher_text }}
	</p>

	<p class="location">
		<b>Location:</b> 
		{{ event.location }}
	</p>	
		
	{% if event.main_image %}<p><img src="/media/{{ event.main_image }}" alt="event preview image" /></p>{% endif %}
	
	{{ event.description|safe }}

	{% if event.additional_dates_text %}
		<h3>Additional meetings</h3>
		{{ event.additional_dates_text|safe }}
	{% endif %}

	<h3>Location</h3>
	<p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
		{{ event.location }}<br />
		{% if event.location.address1 and event.location.show_exact %}
			<span itemprop="street-address">
			{{ event.location.address1 }}
			{% if event.location.address2 %}<br />{{ event.location.address2 }}{% endif %}
			</span>
			<br />
		{% endif %}
		{% if event.location.neighborhood %}{{ event.location.neighborhood }}, {% endif %}
		{% if event.location.city %}<span itemprop="locality">{{ event.location.city }}</span>, {% endif %}
		{% if event.location.state %}<span itemprop="region">{{ event.location.state }}</span>{% endif %}
		{% if event.location.zip %}<span itemprop="postal-code">{{ event.location.zip }}</span>{% endif %}
		{% if event.location.hint %}<br /><em>{{ event.location.hint }}</em>{% endif %}
	</p>
	
	{% if event.details %}
		<h3>Details</h3>
		{{ event.details|safe }}
	{% endif %}
	
	<hr />
		
	{% if registration_count >=  event.max_students %}
		{% if event.waitlist_status %}
			<p><strong>This class is full, but there is a waitist available.</strong></p>
		{% else %}
			<p><strong>This class is full.</strong></p>
		{% endif %}
	{% endif %}
		
	{% if user_is_authenticated %}
		{% if user_is_registered %}
			<p><em>You are registered.</em></p>
			<form action="/classes/{{ event.slug }}/cancel" method="post">
				{% csrf_token %}
				<input type="submit" value="Cancel" />
			</form>
		{% elif user_is_waitlisted %}
			<p><em>You are on the waitlist.</em></p>
			<form action="/classes/{{ event.slug }}/cancel" method="post">
				{% csrf_token %}
				<input type="submit" value="Cancel" />
			</form>
		{% elif is_registration_open %}
			<form action="/classes/{{ event.slug }}/register" method="post">
				{% csrf_token %}
				{% if add_to_waitlist %}
					<input type="submit" value="Join waitlist" />
				{% else %}
					<input type="submit" value="Register" />
				{% endif %}
			</form>
		{% endif %}
	{% else %}
		<p>To sign up for classes, please log in or create a new account.<p>
	{% endif %}
		

	{% if show_facilitator %}
		<hr />
		<p><a href="/classes/{{ event.slug }}/facilitator">view registrations</a></p>
	{% endif %}
	
{% endblock %}

