{% extends "base.html" %}

{% block content %}

	<p><a href="/classes">classes</a></p>

	<hr />

	<h1>{{ event.title }}</h1>
	
	<h2>Registered students</h2>	
	<table>
	{% for registration in registered_students %}
		<tr>
			<td>
				{{ registration.student.first_name }} {{ registration.student.last_name }}
			</td>
			<td>
				{{ registration.student.email }}
			</td>
		</tr>
	{% endfor %}
	</table>

	<h2>Waitlisted students</h2>	
	<table>
	{% for registration in waitlisted_students %}
		<tr>
			<td>
				{{ registration.student.first_name }} {{ registration.student.last_name }}
			</td>
			<td>
				{{ registration.student.email }}
			</td>
		</tr>
	{% endfor %}
	</table>


	<hr />

	<p><a href="/classes/{{ event.slug }}">main class page</a></p>
	
{% endblock %}

