{% extends "pinata/base.html" %}
{% load pinata_filters %}


{% block title %}
 / {{ short_title }}
{% endblock %}




{% block content_shell %}

	<div id="content" class="content_wide">

		{% if siblings or children %}
			{% block local_nav_wide %}
				<div class="local_nav_wide">
					<ul>
						{% for page in siblings %}
							<li><a href="{{ page.path }}" class="{% if page.id == id %}active{% endif %}">{{ page.short_title }}</a></li>
						{% endfor %}
						{% for page in children %}
							<li><a href="{{ page.path }}">{{ page.short_title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			{% endblock %}
		{% endif %}

		{% block content %}

			<div class="hed_wide">
				<h1>{{ title | smartlines }}</h1>
			</div>

			<div class="main_wide">
				{{ main_text | smartlines | safe }}
			</div>
		
		{% endblock %}
		{% block sidebar %}{% endblock %}

	</div>
	
{% endblock %}



