{% extends "pinata/base.html" %}
{% load pinata_filters %}


{% block title %}
 / {{ short_title }}
{% endblock %}




{% block content %}

	<div id="hed">
		<h1>{{ title | smartlines }}</h1>
	</div>
	
	<div id="main">
		{{ main_text | smartlines | safe }}
	</div>
	
{% endblock %}



{% block sidebar_content %}
	{{ sidebar_text | smartlines | safe }}
{% endblock %}


{% if siblings or children %}
	{% block sidebar_nav %}
		<div class="local_nav">
			<ul>
				{% for page in siblings %}
					<li><a href="{{ page.path }}" class="{% if page.id == id %}active{% endif %}"><i class="ss-icon icon_decorative">&#x25BB;</i>{{ page.short_title }}</a></li>
				{% endfor %}
				{% for page in children %}
					<li><a href="{{ page.path }}"><i class="ss-icon icon_decorative">&#x25BB;</i>{{ page.short_title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endblock %}
{% endif %}