{% extends "pinata/page.html" %}




{% block content %}

	<div id="hed">
		<h1>{{ title }}</h1>
	</div>
	
	<div id="main">
	
		{{ main_text|safe }}
	
		{% if sponsors_A %}
		<div class="partner_group" id="partner_group_a">	
			<h3>Major Partners</h3>			
			{% for sponsor in sponsors_A %}
				<div class="partner">
					{% if sponsor.destination_url %}<a href="{{ sponsor.destination_url }}">{% endif %}
					<img src="/media/{{ sponsor.image }}" />
					{% if sponsor.destination_url %}</a>{% endif %}
				</div>
			{% endfor %}			
		</div>		
		{% endif %}

		<div class="partner_group" id="partner_group_s">				
			<h3>Class Location Partners</h3>			
			{% for sponsor in sponsors_S %}
				<div class="partner">
					{% if sponsor.destination_url %}<a href="{{ sponsor.destination_url }}">{% endif %}
					<img src="/media/{{ sponsor.image }}" />
					{% if sponsor.destination_url %}</a>{% endif %}
				</div>
			{% endfor %}			
			{% for partner in partners %}
				<div class="partner">
					{% if partner.website %}<a href="{{ partner.website }}">{% endif %}
					<img src="/media/{{ partner.image }}" />
					{% if partner.website %}</a>{% endif %}
				</div>
			{% endfor %}			
		</div>		

		{% if sponsors_B %}
		<div class="partner_group" id="partner_group_b">				
			<h3>Community Partners</h3>			
			{% for sponsor in sponsors_B %}
				<div class="partner">
					{% if sponsor.destination_url %}<a href="{{ sponsor.destination_url }}">{% endif %}
					<img src="/media/{{ sponsor.image }}" />
					{% if sponsor.destination_url %}</a>{% endif %}
				</div>
			{% endfor %}			
		</div>		
		{% endif %}
		
	</div>
	
{% endblock %}

