{% extends "pinata/page.html" %}
{% load pinata_filters %}

{% block content %}

	<div id="hed">
		<h1>{{ title | smartlines }}</h1>
	</div>
	
	<div id="main">
				
		{{ main_text | smartlines | safe }}


		<div id="wufoo-m7x3q1" style="padding-top: 3em;" class="form_proposal">
		Fill out the <a href="http://knowledgecommonsdc.wufoo.com/forms/m7x3q1">proposal form</a>.
		</div>
		<script type="text/javascript">var m7x3q1;(function(d, t) {
		var s = d.createElement(t), options = {
		'userName':'knowledgecommonsdc', 
		'formHash':'m7x3q1', 
		'autoResize':true,
		'height':'1396',
		'async':true,
		'header':'show'};
		s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
		s.onload = s.onreadystatechange = function() {
		var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
		try { m7x3q1 = new WufooForm();m7x3q1.initialize(options);m7x3q1.display(); } catch (e) {}};
		var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
		})(document, 'script');</script>

	</div>
	
{% endblock %}



