{% extends "pinata/base.html" %}
{% load pinata_filters %}

{% block title %}
 / Search
{% endblock %}




{% block content %}

	<div id="hed">
		<h1>Search</h1>
	</div>

	<div id="main">

        <div class="site_search">

            {# this is custom search code for each site #}

            <form class="ddg" name="x" action="//duckduckgo.com/">
                <input type="hidden" value="knowledgecommonsdc.org" name="sites"></input>
                <input type="hidden" value="1" name="kh"></input>
                <input type="hidden" value="-1" name="kn"></input>
                <input type="hidden" value="1" name="kac"></input>
                <input type="search" placeholder="Search KCDC" name="q"></input>
                <button class="button" type="submit">Go</button>
            </form>

        </div>

	</div>

{% endblock %}



{% block sidebar_content %}
{% endblock %}
