{% extends "pinata/page.html" %}
{% load pinata_filters %}


{% block title %}
 / {{ short_title }}
{% endblock %}



{% block content %}

	<div id="hed">
		<h1>{{ title | smartlines }}</h1>
	</div>
	
	<div id="main">
				
		{{ main_text | smartlines | safe }}

		<h3>The Wonder Dojo</h3>
		{{ dojo_role.description | smartlines | safe }}
		<div class="bios">				
			{% for bio in dojo %}
				<div class="minibio">
					{% if bio.web %}<a href="{{ bio.get_web }}">{% endif %}
					<div class="bio_image">
						{% if bio.image %}
							<img src="/media/{{ bio.image }}" />
						{% endif %}
					</div>	
					<h5>{{ bio.name }}</h5>		
					<p>{{ bio.title }}</p>				
					{% if bio.web %}</a>{% endif %}
				</div>
			{% endfor %}			
		</div>
		{{ dojo_role.extended_description | smartlines | safe }}

		<h3>Volunteers</h3>
		{{ volunteers_role.description | smartlines | safe }}
		{% if volunteers %}
		<div class="bios">				
			{% for bio in volunteers %}
				<div class="minibio">
					{% if bio.web %}<a href="{{ bio.get_web }}">{% endif %}
					<div class="bio_image">
						{% if bio.image %}
							<img src="/media/{{ bio.image }}" />
						{% endif %}
					</div>	
					<h5>{{ bio.name }}</h5>		
					<p>{{ bio.title }}</p>				
					{% if bio.web %}</a>{% endif %}
				</div>
			{% endfor %}			
		</div>
		{% endif %}
		{{ volunteers_role.extended_description | smartlines | safe }}

		<h3>Dojo-at-Large and Emeritus</h3>

		{# <h4>Dojo-at-Large</h4> #}
		{{ dojo_at_large_role.description | smartlines | safe }}
		{% if dojo_at_large %}
		<p>				
			<strong>At-Large: </strong> 			
			{% for bio in dojo_at_large %}
				{{ bio.name }}{% if bio.title %} ({{ bio.title }}){% endif %}{% if not forloop.last %}, {% endif %} 
			{% endfor %}			
		</p>
		{% endif %}
		{{ dojo_at_large_role.extended_description | smartlines | safe }}

		{# <h4>Dojo Emeritus</h4> #}
		{{ dojo_emeritus_role.description | smartlines | safe }}
		{% if dojo_emeritus %}
		<p>	
			<strong>Emeritus: </strong> 			
			{% for bio in dojo_emeritus %}
				{{ bio.name }}{% if bio.title %} ({{ bio.title }}){% endif %}{% if not forloop.last %}, {% endif %} 
			{% endfor %}			
		</p>
		{% endif %}
		{{ dojo_emeritus_role.extended_description | smartlines | safe }}

	</div>
	
{% endblock %}



{% block sidebar_text %}
	{{ sidebar_text | smartlines | safe }}
{% endblock %}

