
$font-family-main: 'Source Sans Pro', 'Helvetica Neue',Helvetica,Arial,sans-serif
$font-size: 16px

// layout
$pageWidth: 1200px
$textWidth: 600px
$sidebarWidth: 360px

// main colors
$cA: #FB2710 // red
$cA-light: #F28681
$cA-dark: #C90004 // red
$cB: #3E9BC3 // blue
$cB-dark: #0C639B
$cC: #FC9519 // yellow
$cC-dark: #E9600F
$cD: #488716 // green

// neutrals
$cN-dark: #777777
$cN-mid: #999999
$cN-light: #ABABAB
$cN-xlight: #CCCCCC
$cN-xxlight: #DFDFDF
$cN-xxxlight: #F5F5F5

// text colors
$cT: #333333
$cT-dark: #000000
$cT-mid: #777777
$cT-light: #aaaaaa
$cT-reverse: #ffffff

// link colors
$c-link: lighten($cT, 20%)
$c-link-border: lighten($cT, 67%)
$c-link-hover: $cA
$c-link-hover-background: #fff
$c-link-visited: lighten($cT, 40%)
$c-link-visited-border: lighten($cT, 73%)

// development aids
$indicator: rgba(137,223,248,0.2)

// responsive
$bp-midplus: 1100px
$bp-mid: 900px
$bp-small: 600px

