
$font-family-main: 'Source Sans Pro', 'Helvetica Neue',Helvetica,Arial,sans-serif
$font-size: 16px

// main colors
$cA: #FB2710 // red
$cA-light: #F28681
$cA-dark: #B8000D // red
$cB: #3E9BC3 // blue
$cB-dark: #276889
$cC: #FC9519 // yellow
$cC-dark: #E9600F
$cD: #488716 // green

// neutrals
$cN-mid: #ABABAB
$cN-light: #CCCCCC
$cN-xlight: #DFDFDF
$cN-xxlight: #F5F5F5

// text colors
$cT: #333333
$cT-dark: #000000
$cT-mid: #777777
$cT-light: #aaaaaa
$cT-reverse: #ffffff

// link colors
$c-link: lighten($cT, 20%)
$c-link-border: lighten($cT, 67%)
$c-link-hover: #fff
$c-link-hover-background: $cA
$c-link-visited: lighten($cT, 40%)
$c-link-visited-border: lighten($cT, 73%)

// development aids
$indicator: rgba(137,223,248,0.1)

// responsive
$bp-mid: 700px
