
.nav-stacked
	// border: 2px solid $cN-xxlight
	ul
		margin: 0
		padding: 0
	li
		margin: 0
		padding: 0
	a,
	a:visited
		margin: 0 0 0em 0
		padding: 0.3em 0.15em 0.2em 0.5em 
		color: $cT
		border: 0
		display: block
		background: $cN-xxxlight
	a:hover
		// color: $cA
		background: $cN-xlight
		+basic-transition
	.active
		background: $cN-xlight !important
		// font-weight: bold





.nav-horizontal
	ul
		margin: 0
		padding: 0
	li
		margin: 0
		padding: 0
		display: inline-block
	a,
	a:visited
		margin: 0 0.2em 0.4em 0
		padding: 0.5em 0.7em 0.4em 0.7em 
		color: $cT
		border: 1px solid $cN-xxlight
		background-color: $cN-xxlight
		display: block
		border-radius: 3px
	a:hover
		background-color: $cN-light
		border: 1px solid $cN-mid
		+basic-transition
	.active
		// font-weight: bold
		background-color: $cN-light !important
		border: 1px solid $cN-mid !important





.nav-toc
	ul
		margin: 0
		padding: 0
	li
		margin: 0
		padding: 0
	a,
	a:visited
		margin: 0 0 0.1em 0
		padding: 0.3em 0.15em 0.2em 0.2em 
		color: $cT
		border: 0
		border-top: 3px solid $cN-xxxlight
		display: block
	a:hover
		color: $cA
		+basic-transition
	.active
		// font-weight: bold
		color: $cA !important

