
// page header and
// global navbar


.page-head
	width: 90%
	margin: 0 auto 0 auto
	max-width: $pageWidth
	+clearfix
	@include respond-to($bp-mid)
		width: 80%
	@include respond-to($bp-small)
		width: 100%
		margin: 0
		
.global-nav
	width: 100%
	background: $cN-xxxlight
	@include respond-to($bp-small)
		display: none
	& > ul
		margin: 0 0 0em 0
		padding: 0 0 0.75em 1.5em
	& > ul > li
		display: inline-block
	a,
	a:visited
		display: inline-block
		margin: 0 0.75em 0 0
		padding: 0.65em 0em 0.1em 0em
		font-size: 1.15em
		border: 0
		border-bottom: 1px solid $cN-xxxlight
		color: $cT-mid
	a:hover
		color: $cA
		border-bottom: 1px solid $cA
		+basic-transition
	.active
		color: $cA
		border-bottom: 1px solid $cA
	.name
		margin-right: 2em
		

.logo
	float: left
	width: 20%
	@include respond-to($bp-small)
		width: 40%
	&>a
		display: block
		width: 70px
		margin: 0.75em 0 0 1.4em
		border: none

.utility-nav
	float: left
	width: 80%
	@include respond-to($bp-small)
		display: none
	&>ul
		margin: 0.25em 0 0 0
		padding: 0
		text-align: right
	li
		display: inline-block
	a
		margin: 0 0.25em 0 0.25em
		font-size: 0.8em
		+quietlink

.page-head__ft
	width: 100%
	+clearfix
	@include respond-to($bp-small)
		padding-bottom: 0.65em
		border-bottom: 2px solid $cN-xxlight

.show-mobile-nav
	display: none
	margin: 0 0 0 0 
	padding: 60px 1em 0 0
	width: 50%
	float: right
	text-align: right
	color: $cT
	border: none
	&:hover
		border: none
	@include respond-to($bp-small)
		display: block
		
	
.mobile-nav
	display: none
	@include respond-to($bp-small)
		display: block
		ul
			clear: both
			margin: 0
			padding: 0
		li
			margin: 0
			padding: 0
		a
			display: block
			width: 100%
			clear: both
			display: block
			padding: 0.4em 0.5em 0.4em 1.5em
			border-bottom: 1px solid $cN-xxlight
			color: $cT
			background: $cN-xxxlight
			&:hover
				background: $cN-xxlight
		.utility-nav-mobile-item
			font-style: italic
			