
// page header and
// global navbar


.page-head
	width: 90%
	max-width: 1200px
	margin: 0 auto
	+clearfix
	@include respond-to($bp-mid)
		width: 80%
	@include respond-to($bp-nav)
		width: 100%
		margin: 0
		padding: 0

.navbar
	@include respond-to($bp-nav)
		display: none
		clear: both
			
.global-nav
	width: 100%
	background: #fff	
	& > ul
		margin: 0 0 0em 0
		padding: 1.75em 0 0.75em 1.5em
	& > ul > li
		display: inline-block
		a,
		a:visited
			display: inline-block
			margin: 0 0.75em 0 0
			padding: 0.5em 0em 0.05em 0em
			font-size: 1.1em
			border: 0
			border-bottom: 1px solid #fff
			color: $cT-mid
			@include respond-to($bp-nav2)
				font-size: 0.9em
		a:hover
			color: $cA
			border-bottom: 1px solid $cA
			+basic-transition
	.active
		color: $cA
		border-bottom: 1px solid $cA
	.name
		@include respond-to($bp-nav2)
			display: none
	// mobile global nav
	@include respond-to($bp-nav)
		margin-top: 0
		width: 100%
		& > ul
			margin: 0
			padding: 0
		& > ul > li
			display: block
		& > ul > li
			a,
			a:visited
				font-size: 0.9em
				line-height: 1em
				margin: 0
				padding: 0.75em
				display: block
				clear: both
				background: $cN-xxlight	
				text-align: right
				border: none
			a:hover
				background: $cN-light
				color: $cT
				border: none
			.active
				background: $cN-light
				color: $cT
				border: none
			
.logo
	float: left
	width: 6em
	@include respond-to($bp-nav)
		margin: 0.25em 0 1.5em 1em
	&>a
		position: relative
		display: block
		width: 85px
		margin: 0
		top: 10px
		border: none
		&:hover
			border: none
			background: none
		@include respond-to($bp-nav)
			width: 65px

.utility-nav
	float: right
	width: 100%
	padding: 0
	position: relative
	top: -5em
	&>ul
		margin: 0
		padding: 0
		text-align: right
	li
		display: inline-block
	a
		margin: 0 0em 0 0
		font-size: 0.75em
		+quietlink
	// smartphone version
	@include respond-to($bp-nav)
		position: static
		top: 0
		margin-top: 0
		width: 100%
		& > ul
			margin: 0
			padding: 0
		& > ul > li
			display: block
		& > ul > li
			a,
			a:visited
				padding: 0.25em
				display: block
				clear: both
				background: $cN-xxxlight	
				border: none
			a:hover
				background: $cN-light
				color: $cT
				border: none
			.active
				background: $cN-light
				color: $cT			
				border: none

.mobile-toggle
	display: none
	padding: 1.5em 1em 0 0
	text-align: right
	@include respond-to($bp-nav)
		display: block
		
.mobile-toggle__bd
	border: none
	&:hover
		color: $cA
		border: none
		background: none
	
.navbar--forced
	@include respond-min($bp-nav)
		display: block !important
