
html,
button,
input,
select,
textarea
	color: $cT

body
	font-size: $font-size
	line-height: 1.6em
	font-family: $font-family-main
	color: $cT
	font-weight: 400
	text-align: left
	

// headers

@for $i from 1 through 6
	h#{$i}
		margin: 1.5em 0 0.5em 0
		font-size: 1em
		line-height: 1.0em
		font-weight: bold
		font-weight: 700
		color: $cT-mid
	h#{$i} a,
	h#{$i} a:visited
	h#{$i} a:hover
		background: none
		border: none

h3 a
	color: $cA
	border: none
	background: none
h3 a:hover
	color: #fff
	background: $cA

h1
	font-size: 3.5em
	font-weight: 600
	margin: 0.75em 0 0 0
	@media screen and (max-width: 600px)
		font-size: 2.5em
	
h2
	font-size: 2.5em
	margin-top: 1.5em
h2:first-child
	margin-top: 0

h3
	font-size: 1.4em
	font-weight: bold
	line-height: 1.25em
	margin-top: 2em

h3.alt
	color: $cB

h4
	margin: 1.75em 0 0.5em 0
	font-size: 1.0em
	text-transform: uppercase
	letter-spacing: 0.1em

h5
	margin: 2.25em 0 0.5em 0
	font-style: italic

h6
	margin: 2.25em 0 0.5em 0
	font-style: italic
	font-weight: normal
	font-weight: 400
	font-color: $cT

	
// blocks

p, ul, ol
	margin: 1em 0 0 0

.intro
	font-size: 1.6em
	line-height: 1.6em
	font-weight: 400
	color: $cT-mid

.intro + p
	margin-top: 0.75em

.secondary
	font-size: 0.75em
	line-height: 1.5em

blockquote
	border-left: 1px solid $cT-light
	padding: 0.25em 1em 1em 1em
	

// inline elements

em, cite, i
	font-style: italic

strong, b
	font-weight: bold
	font-weight: 700
	color: $cT-mid
	
	