// page_wide.html template

#content.content_wide
	max-width: 960px
	
.hed_wide
	width: 100%
	max-width: 960px
	margin-top: 4em
	
.main_wide
	width: 100%
	max-width: 960px
	margin-top: 4em
	p
		margin-left: 20%
	@media screen and (max-width: 680px)
		width: 100%
		margin: 0
		p
			margin-left: 0