{% extends "squirrel/base.html" %}
{% load pinata_filters %}


{% block content %}

	<div id="hed">
		<h1>Staff Dashboard</h1>
	</div>
	
	<div id="main">
	
		<ul>
            <li><a href="https://drive.google.com/drive/folders/0Bx9cC6dy5Eo5bG9OY1ZOdTJEOFU">KCDC Central Docs</a> on Google Drive</li>
            <li><a href="https://trello.com/kcdc2">KCDC on Trello</a></li>
            <li><a href="https://docs.google.com/document/d/1_qPqvkn2WsXmx18bUBzr2k05QcLh8rWvEozYPXp7Hpo/edit#heading=h.ie51mkoyvoqd">KCDC Manual</a></li>
			<li><a href="/staff/meetings">Meeting RSVPs</a></li>
			<li><a href="/admin">Django Admin</a></li>
			<li><a href="/classes/staff/">Sessions, Teachers, and Registration Data</a></li>
			<li><a href="/static/pages/attendance/index.html">Class Attendance Graph</a></li>
			<li><a href="/static/pages/locations/index.html">Locations Map</a></li>
            <li><a href="http://knowledgecommonsdc.org/about/policies/">Policies</a></li>

            <!--
			<li><a href="/static/pages/locations/all.html">Every Class, Mapped</a></li>
            -->
		</ul>
		
	</div>

{% endblock %}

