{% extends "squirrel/base.html" %}
{% load pinata_filters %}


{% block title %}
 / {{ meeting.title }}
{% endblock %}

{% block content %}

	<nav class="action-nav">
		<a href="/staff/meetings/">Back to Meeting List</a>
	</nav>

	<div id="hed">
		<h1>{{ meeting.title | smartlines }}</h1>
	</div>
	
	<div id="main">
	
		<p class="meta">
						
			<i class="ss-icon">date</i> 
			{{ meeting.date|date:"l, j F Y" }}

			<i class="ss-icon icon_push_right">time</i> 
			{{ meeting.date|date:"P" }}
			{% if meeting.end_time %} to {{ meeting.end_time|date:"P" }}{% endif %}
			
		</p>

		<p class="meta">

			{% if meeting.location %}
			<i class="ss-icon icon_push_right">&#x1F3E2;</i> 
			{{ meeting.location }}
			{% endif %}

		</p>	
	
		{{ meeting.description | smartlines | safe }}

		<h3>Location</h3>
 		{% if meeting.location_text %}<p>{{ meeting.location_text|safe }}</p>{% endif %}
		<p itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
			{% ifnotequal meeting.location.name meeting.location.address1 %}{{ meeting.location.name }}<br />{% endifnotequal %}
			{% if meeting.location.address1 and perms.squirrel.view_sensitive %}
				<span itemprop="street-address">
				{{ meeting.location.address1 }}
				{% if meeting.location.address2 %}<br />{{ meeting.location.address2 }}{% endif %}
				</span>
				<br />
			{% endif %}
			{% if meeting.location.city %}<span itemprop="locality">{{ meeting.location.city }}</span>, {% endif %}
			{% if meeting.location.state %}<span itemprop="region">{{ meeting.location.state }}</span>{% endif %}
			{% if meeting.location.zip %}<span itemprop="postal-code">{{ meeting.location.zip }}</span>{% endif %}
			{% if meeting.location.neighborhood %}<br />Neighborhood: {{ meeting.location.neighborhood }} {% endif %}
			{% if meeting.location.hint %}<br /><em>{{ meeting.location.hint }}</em>{% endif %}
		</p>
	
		{% if meeting.details %}
			<h3>Details</h3>
			{{ meeting.details | smartlines | safe }}
		{% endif %}
			
		{% if meeting.has_passed %}
			<h3>Past meeting</h3>
		{% elif user_rsvp %}
			<h3>Change your RSVP</h3>
		{% else %}
			<h3>Will you attend?</h3>
		{% endif %}
					
		{% if user_is_authenticated %}
			{% if not meeting.has_passed %}
				<form action="/staff/meetings/{{ meeting.slug }}/register" method="post">
					{% csrf_token %}
					<label for="field-note" style="display: none;">Note:</label>
					<textarea name="note" id="field-note" placeholder="Note" /></textarea>
					<select name="status">
						<option value="YES" {% if user_rsvp == "YES" %}selected{% endif %}>Yes</option>
						<option value="MAYBE" {% if user_rsvp == "MAYBE" %}selected{% endif %}>Maybe</option>
						<option value="NO" {% if user_rsvp == "NO" %}selected{% endif %}>No</option>
					</select>
					<div><input type="submit" value="RSVP" id="submit_button" /></div>
				</form>
			{% endif %}
		{% else %}
			<p>
				To sign up, please 
				<a href="/accounts/signin">log in</a> or 
				<a href="/accounts/signup">create a new account</a>.
			</p>
		{% endif %}
			
				
	</div>

	<div id="sidebar" class="sidebar_inside">

		{% if perms.squirrel.view_sensitive %}
		
			<h4>Yes</h4>
			<ul>
			{% for registration in registrations_yes %}
				<li>
					<p><a href="mailto:{{ registration.user.email }}">{{ registration.user.first_name }} {{ registration.user.last_name }}</a></p>
					{% if registration.note %}
						<p>{{ registration.note | safe }}</p>
					{% endif %}
				</li>
			{% endfor %}
			</ul>

			<h4>Maybe</h4>
			<ul>
			{% for registration in registrations_maybe %}
				<li>
					<p><a href="mailto:{{ registration.user.email }}">{{ registration.user.first_name }} {{ registration.user.last_name }}</a></p>
					{% if registration.note %}
						<p>{{ registration.note | safe }}</p>
					{% endif %}
				</li>
			{% endfor %}
			</ul>

			<h4>No</h4>
			<ul>
			{% for registration in registrations_no %}
				<li>
					<p><a href="mailto:{{ registration.user.email }}">{{ registration.user.first_name }} {{ registration.user.last_name }}</a></p>
					{% if registration.note %}
						<p>{{ registration.note | safe }}</p>
					{% endif %}
				</li>
			{% endfor %}
			</ul>

			<h4>Yes/Maybe Emails</h4>
			<p class="report-email-block">
				{% for registration in registrations_yes %}
					{{ registration.user.email }},
				{% endfor %}
				{% for registration in registrations_maybe %}
					{{ registration.user.email }},
				{% endfor %}
			</p>
		
		{% endif %}

	</div>

{% endblock %}

