{% extends "pigeon/base.html" %}



{% block content %}

	<div id="hed">
		{% if post.department_label %}<p class="department_label">{{ post.department_label }}</p>{% endif %}
		<h1>{{ post.title }}</h1>
	</div>
	
	<div id="main">
		
		<p>
			{% for bio in post.author.all %}							
				{% if forloop.last %}{% if forloop.counter > 1 %} and {% endif %}{% endif %}
				{{ bio.name }}{% if not forloop.last %}{% if post.author.all|length > 2 %}, {% endif %}{% endif %}
			{% endfor %}
		</p>

		{{ post.main_text|safe }}

		{% if post.author.count > 0 %}
			<hr />
			{% for bio in post.author.all %}
				{{ bio.get_staff_description|safe }}
			{% endfor %}
		{% endif %}

	</div>	
	
{% endblock %}


