{% extends "pigeon/base.html" %}



{% block title %}
 / Blog
{% endblock %}



{% block content %}

	<div id="hed">
		<h1>Blog</h1>
	</div>
	
	<div id="main">
		
		<dl class="calendar blog_calendar">
			
		{% for post in recent_posts %}

			{% ifchanged %}
				<dt>
					{{ post.date|date:"j F Y" }}
				</dt>
			{% endifchanged %}

			<dd>
				<a href="/blog/{{ post.slug }}">
					
					<h3>
						{% if post.department_label %}<i class="department_label">{{ post.department_label }}: </i>{% endif %}
						{{ post.title }}
					</h3>

					{% if post.author|length > 0 %}
						<p>By 
						{% for bio in post.author.all %}							
							{% if forloop.last %}{% if forloop.counter > 1 %} and {% endif %}{% endif %}
							{{ bio.name }}{% if not forloop.last %}{% if post.author.all|length > 2 %}, {% endif %}{% endif %}
						{% endfor %}
						</p>
					{% endif %}
					
					{{ post.teaser|safe }}

				</a>
			</dd>


		{% endfor %}


			
		</dl>

	</div>	
	
{% endblock %}

